<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handongapp.handongutcarpool.mapper.TbgroupMapper">
<!--    <update id="groupAdminLeave" parameterType="hashMap">-->
<!--        UPDATE tbgroup-->
<!--        SET deleted = 'Y'-->
<!--        WHERE id = #{id}-->
<!--    </update>-->
    <select id="getMaxLuggage" parameterType="hashMap" resultType="Integer">
        SELECT max_luggage
        FROM tbgroup
        WHERE tbgroup.id = #{id}
    </select>

    <select id="getIsLock" parameterType="hashMap" resultType="Boolean">
        SELECT locked
        FROM tbgroup
        WHERE tbgroup.id = #{id}
    </select>
</mapper>